@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
 
.app {
  max-width: 1400px;
  margin: 0 auto;
}
 
.header-container {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px 50px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.inner{
  position: fixed;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  padding-left: 100px;
}
 
.searchBar {
  display: flex;
  justify-content: center;
  margin: 20px;
  align-items: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1882352941);
  outline: none;
  border: none;
}

.input-container {
  position: relative;
}

.search{
  display: flex;
  justify-content: space-between;
}
.search-input {
  outline: none;
  padding: 10px 40px 10px 20px; 
  border: none;
  width: 300px;
  max-width: 100%;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 105px;
  top: 32px;
  color: #aaa;
  pointer-events: none;
} 

input {
  padding: 0.5rem;
  border: none;
  outline: none;
}
  #searchIcon {
    border: none;
    
  }
  #searchIcon i {
    padding: 0.9rem;
    color: #000;
    background: white;
  }

/*Sidebar.css */

.sidebar {
  width: max-content;
  background-color: #f8f9fa;
  padding: 20px;
  margin: 80px 0px 0px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  height: 100vh;
  position: fixed;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-item:hover {
  color: #e2e6ea;
}

.sidebar-item .fa {
  color: #aaa;
}
/* Banner css */
.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 70px 0px 166px;
  text-align: center;
}
.title-section{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: left;
}
.title-section h1{
  font-size: 40px;
  line-height: normal;
  font-weight: 400;
}
.title-section p{
  font-size: 30px;
  font-weight: 100;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.outer-container{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
  .content-container{
  width: 100%;
}
.infinite-scroll-component__outerdiv{
  padding: 0px 50px 0px 140px;
}

.card {
  width: 400px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  position: relative;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  height: auto;
}
.share-container{
  display: flex;
    justify-content: end;
    margin: 20px 20px 0px 0px;
}
.share-icon {
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 50%;
  cursor: pointer;
}

.share-icon:hover {
  background-color: rgba(255, 255, 255, 1);
}

.share-icon svg {
  font-size: 16px;
  color: #555;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .pagination-arrow{
  border: none;
}
.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #000;
  cursor: pointer;
}

.pagination button.active {
  background-color: #000;
  color: white;
}

.pagination button:disabled {
  background-color: none;
  cursor: not-allowed;
}
